html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../project/images/cloud-material-background.png);
    background-position: center;
    background-size: auto 100%;

}

.header {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    padding-top: 395px;
    text-align: bottom-right;
}

.header h1 {
    padding: 5px;
    font-size: 128px;
    color: #919db7
}

a:link {
    text-decoration: none;
}

h1:hover {
    color: #ffffff;
    opacity: 80%;
}

.buttons {
    margin: 9%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
    letter-spacing: 4px;
    text-align: center;
    font-weight: bold;
    border-top-left-radius: 36px;
    border-bottom-right-radius: 36px;
    color: #919db7;
    background-color: #d2dae7;
}

.buttons:hover {
    color: #ffffff;
}

.article {
    background: rgba(255, 255, 255, 0.55);
}

.article p {
    padding: 1%;
    color: #5b627e;
}

.article img {
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 1%;
    border-style: dashed;
}

.jump {
    position: fixed;
    bottom: 10px;
    right: 10px;
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    padding: .5px;
    border-radius: 8px;
    justify-content: center;
    background: rgba(91, 98, 126, 0.55);
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    position: sticky;
    font-size: 20px;
    letter-spacing: 2px;
    padding-inline: 40px;
    width: 200px;
    color: #919db7;
    font-weight: bold;
    border-top-left-radius: 36px;
    border-bottom-right-radius: 36px;
    background-color: #d2dae7;
}

input[type=submit] {
    background-color: #ffffff;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.footer {
    padding: 1%;
    margin-top: 1%;
    background: rgba(255, 255, 255, 0.8);
    color: rgb(91, 98, 126);
    text-align: center;
}

/* 
Color Palette
#5b627e
#919db7
#d2dae7
#edf2f8
#ffffff
https://colorpalettes.net/color-palette-1282/
*/